.container{
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
    width: 290px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: gray;
    justify-content: center;
    text-align: center;
}
.screen{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
}
.calc-body{
    display: flex;
    flex-wrap: wrap;
}
button{
    margin: 9px;
    font-size: 45px;
}